@media (min-width: 1400px) {
    section.categories {
        width: 1320px;
    }
}

section.categories {
    display: flex;
    justify-content: center;
    margin: auto;
}

section.categories>.category:nth-child(1) {
    margin-right: 20px; 
}

section.categories>.category:nth-child(3) {
    margin-left: 20px;
}

.category img::before {

}

.categories>.category>.mens-category,
.categories>.category>.womens-category,
.categories>.category>.baby-category {
    position: relative;
    color: white;
    font-size: 25px;
    top: 80%;
    left: 30%;
}

.category .mens-category {
    transition: all .4s ease-out 0s;
}