@media (max-width: 768px) {
    .arrow-left,
    .arrow-right {
        display: none;
    }
}

.arrow-left,
.arrow-right {
    position: absolute;
    top: 57.5%;
    transition: 0.3s ease-in-out;
}

.arrow-left:hover,
.arrow-right:hover {
    cursor: pointer;
    color: rgb(153, 153, 153);
}

.arrow-left {
    left: 10px;
}

.arrow-right {
    right: 10px;
}

.slider-image {
    transition: opacity 0.5s ease-in-out; 
}